

<div>
  <app-admin-header></app-admin-header>
</div>
<div>
    <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)"> 
        <div class="form-group">
          <label class="form-label">Enter Hospital Name</label>
          <input type="text" class="form-control" id="hospitalname" name="hospitalname" ngModel #hospitalname="ngModel" required>
        </div>
        <div class="form-group">
            <label class="form-label">Enter Blood Group</label>
            <input type="text" class="form-control" id="bgroup" name="bgroup" ngModel #bgroup="ngModel" required>
          </div>
          <div class="form-group">
            <label class="form-label">Enter Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" ngModel #quantity="ngModel" required>
          </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Update</button>
    </form>
</div>
