<!-- <p>hospital-login works!</p> -->
<h2 style="text-align: center;">Hospital Login</h2>
<div style="width: 40%; margin: 30px auto; border: 1px solid black; border-radius: 10px; padding: 30px;">
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h3>Login</h3>
        <div class="alert alert-danger" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="email" class="form-control" name="email" #email="ngModel" required ngModel id="exampleInputEmail1" aria-describedby="emailHelp">
          <div class="text-danger" *ngIf="email.touched && email.invalid">Username is required</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" ngModel #password="ngModel" required id="exampleInputPassword1">
          <div class="text-danger" *ngIf="password.touched && password.invalid">Password is required</div>
        </div>
        <div class="m-1" style="text-align: right;">
            <a routerLink="/signup">New User? Sign Up</a>
        </div>
        <button type="submit" class="btn btn-success" >Submit</button>
      </form>
